* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

html, main, header, footer {
    background: black;
}